In [1]:
# matplotlib inline plotting
%matplotlib inline
# make inline plotting higher resolution
%config InlineBackend.figure_format = 'svg'

In [2]:
import pandas as pd
import numpy as np
import os
import requests
import re
import json
from tqdm import tqdm
import matplotlib.pyplot as plt
from helpers.sql import connect_to_db, read_db, vacuum_db, update_database


# set plotting default
plt.style.use('ggplot')

In [3]:
# load dataset
df = pd.read_csv('datasets/twitter_kaggle.csv')

In [4]:
# convert datetime
df['created_at'] = pd.to_datetime(df['created_at'])

In [5]:
# re-format
df = df.rename(columns={'id': 'twitter_id'})
df['aggressive'] = df['aggressiveness'].map({'aggressive': True, 'not aggressive': False})
df = df.drop(columns=['aggressiveness'])

df.head()

,created_at,twitter_id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressive
0,2006-06-06 16:06:42+00:00,6132,NaN,NaN,Weather Extremes,-0.097180,neutral,female,NaN,True
1,2006-07-23 21:52:30+00:00,13275,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,True
2,2006-08-29 01:52:30+00:00,23160,NaN,NaN,Weather Extremes,0.500479,neutral,male,NaN,True
3,2006-11-07 02:46:52+00:00,57868,NaN,NaN,Weather Extremes,0.032816,neutral,male,NaN,True
4,2006-11-27 14:27:43+00:00,304553,NaN,NaN,Importance of Human Intervantion,-0.090428,neutral,male,NaN,True

In [6]:
engine = connect_to_db()

df.to_sql(name='twitter_kaggle', con=engine, if_exists='replace')

vacuum_db(engine=engine)
update_database()

Local database newer than S3 database, uploading...